/* 메인 헤더 */
#header {
  color: yellow;
  font-size: 60px;
}

/* 검색창 */
.serch {
  display: flex;
  justify-content: center;
}
#btn {
  cursor: pointer;
}

/* 영화카드 */
.hide {
  display: none;
}

.card-box {
  display: grid;
  /* fr : 숫자 비율대로 트랙의 크기를 나눈다. 즉 균일하게 1:1:1:1 비율인 4개의 column을 만들겠다는 의미 */
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.card {
  width: 300px;
  border-radius: 8px;
  overflow: hidden;
  margin: 100px auto;
  transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  cursor: pointer;
  border: 1px solid white;
  color: white;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(252, 249, 249, 0.25),
    0 10px 10px rgba(248, 236, 6, 0.25);
  transform: translateY(-10px);
}

.card .img {
  display: block;
  width: 100%;
  padding: 0;
}

.card .movie_title {
  font-size: 30px;
}
